@model SignUpViewModel

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/LayoutUI.cshtml";
	var pageInfo = ViewData["PageInfo"] as PageInfoModel;
	var users = ViewData["Users"] as List<UserViewModel>;
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/User/Index">User</a></li>
		<li class="breadcrumb-item active" aria-current="page">Index</li>
	</ol>
</nav>

<div class="form-group">
	<button data-toggle="modal"
			data-target="#userCreate-modal" 
			class="btn btn-rounded btn-outline-info">
		Add User
	</button>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<h6 class="card-subtitle">
					User List
				</h6>
				<div class="table-responsive">
					<table id="zero_config" class="table table-striped table-bordered no-wrap table-hover">
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Surname</th>
								<th>Email</th>
								<th>Username</th>
								<th>Delete</th>
								

							</tr>
						</thead>
						<tbody>
							@foreach (var item in users)
							{

								<tr>
									<td>@item.Id</td>
									<td>@item.Name</td>
									<td>@item.LastName</td>
									<td>@item.Email</td>
									<td>@item.Username</td>
									<td><a href="/User/UserDelete/@item.Id" class="btn btn-outline-danger">Delete</a></td>
								</tr>

							}

						</tbody>

					</table>
				</div>
			</div>
			<div class="card-footer d-flex justify-content-end">


				<div class="btn-group" role="group">
					@if (pageInfo.CurrentPage != 1)
					{
						<a href="/User/Index/?page=@(pageInfo.CurrentPage-1)" class="btn btn-outline-primary">Previous Page</a>
					}
					@for (int i = 1; i <= pageInfo.PageCount; i++)
					{
						@if (pageInfo.CurrentPage == i)
						{
							<a href="/User/Index/?page=@i" class="btn btn-primary">@i</a>

						}
						else
						{

							<a href="/User/Index/?page=@i" class="btn btn-outline-primary">@i</a>
						}
					}
					@if (pageInfo.CurrentPage != pageInfo.PageCount && pageInfo.PageCount != 0)
					{
						<a href="/User/Index/?page=@(pageInfo.CurrentPage+1)" class="btn btn-outline-primary">Next Page</a>
					}
				</div>
			</div>

		</div>
	</div>
</div>




<div id="userCreate-modal" class="modal fade" tabindex="-1" role="dialog"
	 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-body">
				<div class="text-center mt-2 mb-4">
					<a href="index.html" class="text-success">
						<span>
							<img class="mr-2" src="/assets/images/vitalen-bt-logo.png"
								 alt="" height="18">
						</span>
					</a>
				</div>

				<form class="pl-3 pr-3" action="/User/UserCreate/" method="post">

					<div class="form-group">
						<label for="Name">Name</label>
						<input class="form-control" type="text" asp-for="Name" id="Name"
							   required="">
					</div>

					<div class="form-group">
						<label for="Surname">Surname</label>
						<input class="form-control" type="text" asp-for="Surname" id="Surname"
							   required="">
					</div>

					<div class="form-group">
						<label for="Email">Email</label>
						<input class="form-control" type="email" asp-for="Email" id="Email"
							   required="">
					</div>

					<div class="form-group">
						<label for="Password">Password</label>
						<input class="form-control" type="password" asp-for="Password" id="Password"
							   required="">
					</div>

					<div class="form-group text-center">
						<button class="btn btn-primary" type="submit">
							Add new User
						</button>
					</div>

				</form>

			</div>
		</div>
	</div>
</div>

